<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DISPLAY__ADD__EDIT_AND_DELETE_FROM_DATABASE.Properties.Settings.capstoneassignmentConnectionString"
            connectionString="user id=root;persistsecurityinfo=True;server=127.0.0.1;database=capstoneassignment"
            providerName="MySql.Data.MySqlClient" />
        <add name="DISPLAY__ADD__EDIT_AND_DELETE_FROM_DATABASE.Properties.Settings.capstoneassignmentConnectionString1"
            connectionString="user id=root;persistsecurityinfo=True;server=127.0.0.1;database=capstoneassignment;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="DISPLAY__ADD__EDIT_AND_DELETE_FROM_DATABASE.Properties.Settings.capstoneassignmentConnectionString2"
            connectionString="server=127.0.0.1;user id=root;password=maniarockersta06;persistsecurityinfo=True;database=capstoneassignment"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>